.banquets {
  &--border {
    border-top: 1px solid @gold;
    border-bottom: 1px solid @gold;
  }
}

.banquets__props-column {
  gap: 30px;
}

.banquets__props {
  margin-top: 50px;

  &--nomargin {
    margin-top: 0;
  }
}

.banquets__gallery {
  padding-bottom: 50px;
  border-top: 1px solid @green;
  border-bottom: 1px solid @green;
}

.banquets__bonus {
  align-self: flex-start;
}
