.contacts__phones {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 50px;

  a {
    align-self: baseline;
    text-decoration: none;
  }
}

.contacts__email {
  align-self: baseline;
  margin-top: 30px;
}

.contacts__address {
  margin-top: 30px;
  font-style: normal;
}

.contacts__button {
  margin-top: 30px;
  align-self: baseline;
}

.contacts__frame {
  height: 500px;
}

@media (max-width: @break-point-mobile) {
  .contacts__button {
    align-self: center;
  }
}
