.footer {
  padding-bottom: 250px;
  background-image: url('../img/pattern_gold.svg');
  background-repeat: repeat-x;
  background-position: 50% 100%;
  background-size: auto 200px;

  &--green {
    background-image: url('../img/pattern_green.svg');
    border-top: 1px solid @green;

    .footer__decor-2,
    .footer__content {
      border-color: @green;
    }

    .footer__payment {
      svg {
        fill: @green;
      }
    }

    .footer__social {
      svg {
        fill: @green;
      }

      a {
        &:active {
          opacity: @active-opacity;

          svg {
            fill: @green;
          }
        }
      }
    }
  }

  &--margin-top {
    margin-top: 75px;
  }
}

.footer__decor-2 {
  height: 30px;
  border-left: 1px solid @gold;
  border-right: 1px solid @gold;
}

.footer__content {
  border-top: 1px solid @gold;
}

.footer__columns {
  padding-top: 50px;
}

.footer__logo {
  align-self: baseline;

  img {
    width: 169px;
    height: 118px;
  }

  &[href] {
    &:hover,
    &:focus {
      opacity: @hover-opacity;
    }

    &:active {
      opacity: @active-opacity;
    }
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;

  a {
    align-self: baseline;
    text-decoration: none;
  }
}

.footer__phones {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__address {
  font-style: normal;
  font-size: 13px;
  line-height: 1.65;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    margin: 0;
  }

  svg {
    .transition(svg);

    fill: @gold;
  }

  a {
    width: 36px;
    height: 33px;

    &:hover,
    &:focus {
      svg {
        fill: @gold-dark;
      }
    }

    &:active {
      svg {
        fill: @gold-light;
      }
    }
  }
}

.footer__payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 75px;

  svg {
    fill: @gold;
  }
}

.footer__copyright {
  margin-top: 75px;
  text-decoration: underline;
}

.footer__menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.footer__menu-wrapper {
  .list-style-none();

  margin-top: 30px;

  li {
    margin-top: 10px;
  }
}

.footer__projects {
  margin-top: 100px;

  p {
    display: block;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 1;
  }
}

.footer__projects-wrapper {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: @break-point-2) {
  .footer {
    &--green {
      .footer__left {
        border-color: @green;

        &::before {
          background: url('../img/icon_star_green.svg') 50% 50%;
        }
      }
    }
  }

  .footer__columns {
    padding-top: 30px;
  }

  .footer__left,
  .footer__right {
    min-width: 100%;
  }

  .footer__left {
    position: relative;
    order: 1;
    align-items: center;
    padding-top: 50px;
    border-top: 1px solid @gold;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 20;

      width: 15px;
      height: 15px;

      background: url('../img/icon_star_gold.svg') 50% 50%;
      transform: translate(-50%, -55%);
      content: '';
    }
  }

  .footer__projects {
    margin-top: 50px;
  }

  .footer__projects-wrapper {
    margin-top: 0;
  }

  .footer__contacts {
    margin-top: 50px;

    a {
      align-self: center;
    }
  }

  .footer__phones {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px 50px;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__payment {
    align-items: center;
  }

  .footer__logo {
    align-self: center;
  }
}

@media (max-width: @break-point-tablet) {
  .footer__menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 30px;
  }

  .footer__menu-column {
    width: calc((100% - 30px) / 2);
  }
}

@media (max-width: @break-point-3) {
  .footer__projects-wrapper {
    gap: 0;
    margin-top: 15px;
  }
}

@media (max-width: @break-point-mobile) {
  .footer__menu-column {
    width: 100%;
    text-align: center;
  }

  .footer__projects-wrapper {
    flex-wrap: wrap;
  }

  .footer__address {
    text-align: center;
  }

  .footer__social {
    flex-wrap: wrap;

    p {
      width: 100%;
      text-align: center;
    }
  }
}
