.frame {
  position: relative;
  width: 100%;
  overflow: hidden;

  &--green {
    .frame__border {
      border: 1px solid @green;
    }

    .frame__decor {
      &::after,
      &::before {
        background-color: white;
        border: 1px solid @green;
      }
    }

    .frame__content {
      border: 1px solid @green;
    }
  }

  &--gold {
    .frame__border {
      border: 1px solid @gold;
    }

    .frame__decor {
      &::after,
      &::before {
        background-color: @green;
        border: 1px solid @gold;
      }
    }
  }
}

.frame__border {
  position: relative;
  z-index: 10;
  padding: 45px;
  height: 100%;
}

.frame__content {
  height: 100%;
  overflow: hidden;
  border-radius: 30px;

  &--flex {
    display: flex;
  }
}

.frame__decor {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;

  &::after,
  &::before {
    position: absolute;
    z-index: 20;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 40%;
    border: 1px solid @gold;
    content: '';
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }

  &--top {
    top: 0;

    &::before {
      transform: translate(-45%, -45%);
    }

    &::after {
      transform: translate(45%, -45%);
    }
  }

  &--bottom {
    bottom: 0;

    &::before {
      transform: translate(-45%, 45%);
    }

    &::after {
      transform: translate(45%, 45%);
    }
  }
}

.frame__video {
  width: 100%;
  height: auto;
}

@media (max-width: @break-point-2) {
  .frame__border {
    padding: 30px;
  }

  .frame__content {
    border-radius: 20px;
  }
}

@media (max-width: @break-point-4) {
  .frame {
    &--minimal {
      .frame__decor {
        display: none;
      }

      .frame__border {
        padding: 0;
        border: none;
      }
    }
  }
}

@media (max-width: @break-point-mobile) {
  .frame__border {
    padding: 20px;
  }

  .frame__decor {
    height: 30px;

    &::after,
    &::before {
      width: 30px;
      height: 30px;
    }
  }

  .frame {
    &--minimal {
      .frame__border {
        padding: 0;
        border: none;
      }
    }
  }
}


