.hall {
  &--reverse {
    .hall__info {
      padding-left: 75px;
      padding-right: 30px;
    }
  }

  &--title {
    .hall__info {
      padding-left: 0;
    }
  }
}

.hall__image {
  width: 440px;
  height: 550px;

  &--rounded {
    width: 100%;
    height: auto;
    min-height: 500px;
  }

  &--big {
    width: 520px;
    height: 600px;
    margin-top: -75px;
  }
}

.hall__text {
  margin: 15px 0 0 0;

  &--margin-top {
    margin-top: 30px;
  }
}

.hall__props {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin: 30px 0 0 0;
}

.hall__image-wrapper {
  padding-left: 30px;
  justify-content: center;
}

.hall__info {
  padding-left: 50px;
}

.hall__controls {
  display: flex;
  align-items: center;
  gap: 15px 30px;
  margin-top: 50px;
}

.hall__button {
  align-self: baseline;
}

@media (max-width: @break-point-1) {
  .hall {
    &--inner {
      .hall__title {
        margin-top: 0;
      }
    }
  }

  .hall__image {
    height: 500px;
  }

  .hall__title {
    margin-top: 50px;
  }

  .halls__navigation {
    margin-top: 50px;
  }
}

@media (max-width: @break-point-2) {
  .hall__image {
    width: 350px;
    height: 450px;

    &--big {
      margin-top: 0;
    }
  }
}

@media (max-width: @break-point-tablet) {
  .hall__image-wrapper {
    justify-content: center;
    padding: 50px 0 0 0;
  }

  .hall__info {
    padding: 0;
  }

  .hall__image {
    width: 400px;
    height: 550px;

    &--big {
      width: 500px;
    }
  }

  .hall__title {
    margin-top: 0;
  }

  .hall__controls {
    justify-content: center;
    margin-top: 30px;
  }

  .hall {
    &--reverse {
      .hall__info {
        order: 1;
        padding: 0;
      }
    }

    &--inner {
      .hall__image-wrapper {
        padding-top: 0;
      }
    }
  }
}

@media (max-width: @break-point-3) {
  .hall__image {
    width: calc(100vw - 100px);
    height: calc(100vw - 40px);
  }
}

@media (max-width: @break-point-4) {
  .hall__image-wrapper {
    padding-top: 30px;
  }

  .hall__image {
    &--rounded {
      width: 100%;
      height: auto;
      min-height: 350px;
    }
  }
}

@media (max-width: @break-point-mobile) {
  .hall__controls {
    flex-direction: column;
    align-items: center;
  }

  .hall__button {
    align-self: center;
  }

  .hall__image {
    &--rounded {
      width: 100%;
      height: auto;
      min-height: 300px;
    }
  }
}
