.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    fill: @green;
  }

  p {
    text-align: center;
    margin: 15px 0 0 0;
  }

  strong:has(+ p) {
    display: inline-block;
    margin-bottom: 10px;
  }

  &--gold {
    svg {
      fill: @gold;
    }
  }

  &--fit {
    width: 100%;
    max-width: 20%;
    padding: 0 15px;
  }

  &--fit-2 {
    width: 100%;
    max-width: 30%;
    padding: 0 15px;
  }

  &--inline {
    max-width: 33%;
    align-items: flex-start;
    gap: 15px 20px;
    padding: 0 30px;

    svg {
      flex-shrink: 0;
    }

    p {
      margin: 0;
      text-align: left;
    }
  }
}

@media (max-width: @break-point-2) {
  .icon-block {
    &--fit {
      max-width: 50%;
    }
  }
}

@media (max-width: @break-point-tablet) {
  .icon-block {
    &--inline {
      max-width: 50%;
    }

    &--fit-2 {
      max-width: 50%;
    }
  }
}


@media (max-width: @break-point-3) {
  .icon-block {
    &--inline {
      max-width: unset;
      padding: 0;
      align-items: center;

      p {
        text-align: center;
      }
    }

    &--fit-2,
    &--fit {
      max-width: 100%;
    }
  }
}
