.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    fill: @green;
  }

  p {
    text-align: center;
  }

  &--gold {
    svg {
      fill: @gold;
    }
  }

  &--fit {
    width: 100%;
    max-width: 25%;
    padding: 0 15px;
  }
}

@media (max-width: @break-point-2) {
  .icon-block {
    &--fit {
      max-width: 100%;
    }
  }
}
