.margin-top {
  &--sm {
    margin-top: 15px;
  }

  &--md {
    margin-top: 30px;
  }

  &--lg {
    margin-top: 50px;
  }

  &--mx {
    margin-top: 75px;
  }
}

.margin-bottom {
  &--sm {
    margin-bottom: 15px;
  }

  &--md {
    margin-bottom: 30px;
  }

  &--lg {
    margin-bottom: 50px;
  }

  &--mx {
    margin-bottom: 75px;
  }
}

@media (max-width: @break-point-4) {
  .margin-top {
    &--lg {
      margin-top: 30px;
    }

    &--mx {
      margin-top: 30px;
    }
  }

  .margin-bottom {
    &--lg {
      margin-bottom: 30px;
    }

    &--mx {
      margin-bottom: 30px;
    }
  }
}
