.page-header {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.page-header__promo {
  margin-top: 30px;
}

.page-header__subtitle {
  max-width: 800px;
  margin: 50px auto 30px auto;
  text-align: center;
}
