.page-header {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.page-header__promo {
  margin-top: 30px;
}

.page-header__subtitle {
  max-width: 800px;
  margin: 50px auto 30px auto;
  text-align: center;
}

.page-header__advantages {
  align-items: center;
  gap: 50px;
}

@media (max-width: @break-point-tablet) {
  .page-header__advantages {
    margin-top: 30px;
    gap: 30px;
  }
}

@media (max-width: @break-point-4) {
  .page-header {
    margin-top: 0;
  }
}
