.prices__slider-navigation {
  padding: 30px 0 5px 0;
}

.prices__slide {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 50%;
    align-self: flex-start;
  }
}

.prices__frame {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: @break-point-3) {
  .prices__slide {
    img {
      width: 100%;
    }
  }
}

@media (max-width: @break-point-tablet) {
  .prices__frame {
    max-width: 100%;
  }
}

@media (max-width: @break-point-mobile) {
  .prices__frame {
    padding: 0;
  }

  .prices__decor {
    display: none;
  }

  .prices__border {
    padding: 0;
    border: none !important;
  }

  .prices__content {
    border: none !important;
  }
}
