.reservation {
  .bg-gold();

  margin: 30px 0 0 0;
  color: @green;

  &--white {
    background: none;
  }

  &--no-margin {
    margin: 0;
  }

  a {
    color: @green !important;
    outline-color: @green !important;
  }
}

.reservation__subtitle {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
}

.reservation__form {
  width: 80%;
  margin: 50px auto 0 auto;
}

@media (max-width: @break-point-1) {
  .reservation__form {
    width: 100%;
  }
}
