.rounded-media {
  overflow: hidden;
  border-radius: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.rounded-media__embed {
  position: relative;
  width: 100%;
  padding-top: 56%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: @break-point-2) {
  .rounded-media {
    border-radius: 30px;
  }
}
