.seasons {
  padding-bottom: 50px;
}

.seasons__wrapper {
  display: flex;
  gap: 30px 100px;
  align-items: center;
}

.seasons__title {
  width: 66.66%;

  p {
    margin: 15px 0 0 0;
  }
}

.seasons__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 30px;
  width: 33.33%;
}

@media (max-width: @break-point-tablet) {
  .seasons__title,
  .seasons__links {
    width: 100%;
  }

  .seasons__wrapper {
    flex-direction: column;
  }

  .seasons__title {
    text-align: center;

    p {
      text-align: left;
    }
  }

  .seasons__links {
    justify-content: center;
  }
}
