.pagination {
  .current {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.single-hall__gallery {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px @gap;
    width: 100%;
  }

  .gallery-item {
    margin: 0;
    width: 100%;
    max-width: calc((100% - 30px * 3) / 4);
    overflow: hidden;
    border-radius: 30px;
  }

  a {
    &:hover,
    &:focus {
      opacity: @hover-opacity;
    }

    &:active {
      opacity: @active-opacity;
    }
  }
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.woocommerce-info,
.woocommerce-error,
.woocommerce-attention {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;

  &::before {
    display: none;
  }
}

.woocommerce-info {
  background-color: @gold;
  color: @green;
}

.woocommerce-error {
  background-color: @red;
  color: @gold;
}

.woocommerce-attention {
  background-color: @green;
  color: @gold;
}

.woocommerce {
  .return-to-shop {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

@media (max-width: @break-point-tablet) {
  .single-hall__gallery {
    .gallery-item {
      max-width: calc((100% - 30px) / 2);
    }
  }
}

@media (max-width: @break-point-4) {
  .single-hall__gallery {
    .gallery-item {
      max-width: 100%;
    }
  }
}
